<h1> Show Chef </h1>

<p>
  <strong>First Name:</strong>
  <%= @chef.first_name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @chef.last_name %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @chef.email_address %>
</p>

<%= link_to 'Back', chefs_path %>